{% load static %}
<!DOCTYPE html>	
<html>
<head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<title>Teste</title>
</head>
<body>
	{% for pessoa in pessoa %}
		<div class='container-fluid'>
			<div class='section'>
				<div class='container' id='show'>
					<div class='row'>
						<div class='col-md-8'>
							<h1>{{pessoa.name}}</h1>	
							<h3>{{pessoa.current_position}}</h3>
							<p><a href="{{pessoa.github}}"><i>Conheça meu repositorio<br>{{pessoa.github}}</i></a></p>							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='section'>
			<div class='container'>
				<div class='row'>
					<div class='panel panel-primary'>
						<div class='panel-heading'>
							<h2>Dados Pessoais</h2>
						</div>			
						<div class='panel-body'>
							<p><span class='negrit'>Data de Nascimento: </span>{{pessoa.data_nascimento}}</p>
							<p><span class='negrit'>Endereço: </span>{{pessoa.adress}}</p>
							<p><span class='negrit'>Cidade: </span>{{pessoa.cidade}}</p>
							<p><span class='negrit'>Cep: </span>{{pessoa.cep}}</p>
							<p><span class='negrit'>Phone: </span>{{pessoa.phone}}</p>
							<p><span class='negrit'>Mobile: </span>{{pessoa.mobile}}</p>
							<p><span class='negrit'>Email: </span>{{pessoa.email}}</p>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>

		<div class='section'>
			<div class='container'>
				<div class='panel panel-primary'>
					<div class='panel-heading'>
						<h2 id='Conhecimentos'>Conhecimentos</h2>	
											
					</div>

					<div class='panel-body'>
						<p>{{pessoa.Conhecimentos|linebreaks}}</p>
						
					</div>
			
				</div>
			</div>
		</div>

		<div class='section'>
			<div class='container'>
				<div class='row'>
					<div class='panel panel-primary'>
						<div class='panel-heading'>
							<h2 id='Experencia'>Expreriência Profissional</h2>	
						</div>
						<div class='panel-body'>
							<p><span class='negrit'>Empresa: </span>{{pessoa.empresa}}</p>
							<p><span class='negrit'>Cargo: </span>{{pessoa.current_position}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='section'>
			<div class='container'>
				<div class='row'>
					<div class='panel panel-primary'>
						<div class='panel-heading'>
							<h2 id='Resumo'>Resumo</h2>
						</div>
					</div>
				</div>		
			</div>
		</div>

		{% empty %}
		<div class='alert alert-danger'>
			<h2>Você ainda não cadastrou nenhuma informação!!!</h2>
		</div>
		{% endfor %}
</body>
</html>